{% extends 'base.html' %}

    {% load static %}
    {% block extrahead %}

    <link rel="stylesheet" href="{% static "css/petstagram/index.css" %}">

    {% endblock extrahead %}

{% block content %}

    <div class="recent-feed">
        최근 피드
        <button type="button" class="btn-write" data-bs-toggle="modal" data-bs-target="#newFeed" style="float: right;"><span><i class="fas fa-pen-square"></i> 새글작성</span></button>

        <div class="modal fade" id="newFeed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">새 글 작성하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목">
                            </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
                            <textarea class="form-control" name ="context" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                            <label class="form-label" for="customFile">사진/동영상 업로드</label>
                            <input type="file" name="media" class="form-control" id="exampleFormControlTextarea1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #F59B25;">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-list">
        {% for feed in feeds %}
            <div class="card">
                <!-- 카드 헤더 -->
                <div class="card-header" style="background-image: url({{feed.media.url}});" data-bs-toggle="modal" data-bs-target="#feed{{ feed.id }}">
                    <div class="card-header-file-state">
                        <!-- <i class="fas fa-images"></i> -->
                    </div>
                </div>

                <!-- 모달 내용 -->
                <div class="modal fade" id="feed{{ feed.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ feed.title }}</h5>
                                <br><br>{{ feed.author_name }}/t{{ feed.create_date }} <br>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ feed.context }} <br><br>
                                {% if feed.media %}
                                    <img src="{{ feed.media.url }}" width="300" height="300">
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <a href="{%url 'edit' feed.id%}">edit</a>
                                <a href="{%url 'delete' feed.id%}" class="btn btn-danger">delete</a>    
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  카드 바디 -->
                <div class="card-body" data-bs-toggle="modal" data-bs-target="#feed{{ feed.id }}">

                    <!--  카드 바디 헤더 -->
                    <div class="card-body-header">
                        <div class="card-body-title">{{ feed.title }}</div>
                        <div class="card-body-writer">{{ feed.author_name }}</div>
                    </div>
                    <div style="width: 90%; margin-left: 7%;">
                        <p class="card-body-description">
                            {{ feed.context }} </p>
                    </div>
                    <!--  카드 바디 본문 -->
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}