{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<style>
    @font-face {
        font-family: 'IBMPlexSansKR-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ImcreSoojin';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .navbar__title {
        font-family: 'ImcreSoojin';
        color: black;
        font-weight: bold;
        font-size: 30px;
    }

    body {
        font-family: 'IBMPlexSansKR-Regular';
        text-align: left;
        margin-top: 30px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #263238;
    }

</style>
{% endblock extrahead %}

{% block content %}
    <form action="{% url 'signup' %}" method="POST">
        {%csrf_token%}
        <label for="Username"><b>아이디</b></label>
        <br>
        {{form.username}}
        <br><br>
        <label for="password1"><b>비밀번호</b></label>
        <br>
        {{form.password1}}
        <br><br>
        <label for="password2"><b>비밀번호 재확인</b></label>
        <br>
        {{form.password2}}
        <br><br>  
        <label for=nickname><b>별명</b></label> 
        <br>
        {{form.nickname}}
        <br><br>
        <label for="e-mail"><b>이메일</b></label>
        <br>
        {{form.e_mail}}
        <br><br>
        <label for="phone-number"><b>전화번호</b></label>
        <br>
        {{form.phone_number}}
        <br>
        <b>(*전화번호는 선택사항입니다.)</b>
        <br><br>
        <label for="bio"><b>한 줄 소개</b></label>
        <br>
        {{form.bio}}
        <br><br>
        <label for="profile"><b>프로필 사진</b></label>
        <br>
        {{form.profile}}
        <br><br>
      <input type="submit" value="signup">
    </form>
{% endblock %}
    
