{% load static %}

<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="https://kit.fontawesome.com/8500e488ae.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    
    {% block extrahead %}
    
    {% endblock %}
    
    <title>Petstagram</title>
</head>
<body>

    <nav class="nav_bar">
        <div class="navbar__blank" style="width: 1px;"></div>
        <div class="navbar__logo" style="cursor: pointer;" onclick="location.href='/';">
            <i class="fas fa-paw"></i>
            <span class="navbar__title">펫스타그램</span>
        </div>
        <input class="navbar__search" type="text" placeholder="Search">
        {% if user.is_authenticated %}
            <ul class="navbar__icons">
                <li><i class="fas fa-bell fa-lg"></i></li>
                <li><i class="fas fa-user fa-lg"></i></li>
                <li><button class="navbar__btn" onclick="location.href='/account/logout';"><span>LOGOUT</span></button></li>
            </ul>
        {% else %}
            <button class="navbar__btn" onclick="location.href='/account/login';"><span>LOGIN</span></button>
        {% endif %}
        <div class="navbar__blank" style="width: 1px;"></div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="footer">Powered by Petstagram</div>

</body>
</html>